In [1]:
import pandas as pd
import numpy as np
!pip install pulp
import pulp
import copy
import random
from datetime import datetime
from dateutil.relativedelta import relativedelta
from pathlib import Path
import warnings
warnings.filterwarnings("ignore")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pulp in c:\users\jhonatan\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.7.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\JHONATAN\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
def opt_port(df_sample,epsilon):
    epsilon = epsilon
    X_tr = df_sample.copy(deep=True)

    mto_van_opt = df_sample[df_sample.flg_max_vane==1]['mto_e'].sum()
    mto_opt_port = mto_van_opt*epsilon

    idcs = list(df_sample['codclavecic'].unique())
    df_sample.set_index(keys=['codclavecic','escenario'], inplace=True)

    esc_opt = pulp.LpVariable.dicts("esc_opt",
                                    ((idc, escenario) for idc, escenario in df_sample.index),
                                    cat='Binary')

    # Definición del Modelo
    model_opt = pulp.LpProblem("Optimización_del_Van_Esperado", pulp.LpMaximize)

    # Función Objetivo
    model_opt += pulp.lpSum([esc_opt[idc, escenario] * df_sample.loc[(idc, escenario), 'van_e'] for idc, escenario in df_sample.index]) 

    # Restricciones
    for idc in idcs:
        escenarios = X_tr['escenario'][X_tr['codclavecic']==idc]
        model_opt += pulp.lpSum(esc_opt[(idc, esc)] for esc in escenarios) == 1

    model_opt += pulp.lpSum([esc_opt[idc, escenario] * df_sample.loc[(idc, escenario), 'mto_e'] for idc, escenario in df_sample.index]) >= mto_opt_port

    model_opt.solve()


    print(pulp.LpStatus[model_opt.status])
    print(model_opt.objective.value())


    output = []
    for idc, esc in esc_opt:
        var_output = {
            'idc': idc, 
            'escenario': esc, 
            'binario': esc_opt[(idc, esc)].varValue, 
            'value':df_sample.loc[(idc,esc),'van_e'] }
        
        output.append(var_output) 

    output_df = pd.DataFrame.from_records(output)
    return output_df

In [3]:
route_bases = Path('.').resolve() / 'data' / 'bases'
route_output = Path('.').resolve() / 'data' / 'optimizacion'

input_filename = "wtp_escenarios_ind_20231229.csv"
output_filename_5 = f"salida_opt_port_campania_{(datetime.now() + relativedelta(months=1)).strftime('%Y%m')}_5_new.csv"
output_filename_10 = f"salida_opt_port_campania_{(datetime.now() + relativedelta(months=1)).strftime('%Y%m')}_10_new.csv"


output_filename_5_final, extension = output_filename_5.rsplit('.', 1)  
output_filename_5_final = output_filename_5_final.replace("new", "escenario_new")  
output_filename_5_final = f"{output_filename_5_final}.{extension}" 

output_filename_10_final, extension = output_filename_10.rsplit('.', 1)  
output_filename_10_final = output_filename_10_final.replace("new", "escenario_new")  
output_filename_10_final = f"{output_filename_10_final}.{extension}" 


full_filename_input = route_bases / input_filename
full_filename_output_5 = route_output/ output_filename_5
full_filename_output_10 = route_output/ output_filename_10
full_filename_output_5_final = route_output/ output_filename_5_final

full_filename_output_10_final = route_output/ output_filename_10_final

In [4]:
df = pd.read_csv( 'C:/Users/JHONATAN/Documents/BCP  practicas verano/CEF_ Credito_Efectivo_Personas/10000CEN_CEF_ADAPTACIONBase_para_probar_CENOPT.csv',sep=',')
df.columns = df.columns.str.lower()
df.columns

Index(['codmes', 'seg_wtp_cef', 'numscoreriesgo', 'codsubsegmento',
       'codclavecic', 'llave', 'mtofinalofertadosol', 'rng_prob', 'num_sen',
       'iter', 'tasa_propuesta', 'prob_adj', 'prob', 'van', 'van_estimado',
       'mto_estimado', 'ec_efect_i', 'b0', 'b1', 'prob_adj_ef',
       'flg_subsegmento_consumo'],
      dtype='object')

In [5]:
df = df.rename(columns={'iter': 'escenario',
                        'tasa_propuesta':'tea',
                        'van_estimado':'van_e',
                        'mto_estimado':'mto_e',
                        'prob_adj':'tir',
                        'prob_adj_ef':'efec',
                        })

In [6]:
df.columns

Index(['codmes', 'seg_wtp_cef', 'numscoreriesgo', 'codsubsegmento',
       'codclavecic', 'llave', 'mtofinalofertadosol', 'rng_prob', 'num_sen',
       'escenario', 'tea', 'tir', 'prob', 'van', 'van_e', 'mto_e',
       'ec_efect_i', 'b0', 'b1', 'efec', 'flg_subsegmento_consumo'],
      dtype='object')

In [7]:
df.head(3)

,codmes,seg_wtp_cef,numscoreriesgo,codsubsegmento,codclavecic,llave,mtofinalofertadosol,rng_prob,num_sen,escenario,...,tir,prob,van,van_e,mto_e,ec_efect_i,b0,b1,efec,flg_subsegmento_consumo
0,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,-8,...,0.271264,0.834083,392.023845,1.287477,31.856545,0.012107,0.020706,-0.024639,0.003284,ARMANDO
1,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,0,...,0.251427,0.819364,538.704177,1.506331,27.123263,0.011121,0.020706,-0.024639,0.002796,ARMANDO
2,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,5,...,0.239061,0.809263,631.927082,1.583317,24.303714,0.010481,0.020706,-0.024639,0.002506,ARMANDO

In [8]:
df= df[['codclavecic','escenario','tea','van_e', 'mto_e','tir','efec']].sort_values(by=['codclavecic','escenario'])

In [9]:
df.head(3)

    codclavecic  escenario    tea     van_e      mto_e       tir      efec
0         93457         -8  0.349  1.287477  31.856545  0.271264  0.003284
8         93457         -7  0.355  1.328898  31.115202  0.268227  0.003208
11        93457         -6  0.359  1.354742  30.627195  0.266214  0.003157

In [10]:
idx_max = df.groupby('codclavecic')['van_e'].idxmax()

df.loc[idx_max, 'flg_max_vane'] = 1
df['flg_max_vane']=df['flg_max_vane'].fillna(0)

In [11]:
df.head(20)

,codclavecic,escenario,tea,van_e,mto_e,tir,efec,flg_max_vane
0,93457,-8,0.349,1.287477,31.856545,0.271264,0.003284,0.0
8,93457,-7,0.355,1.328898,31.115202,0.268227,0.003208,0.0
11,93457,-6,0.359,1.354742,30.627195,0.266214,0.003157,0.0
3,93457,-5,0.365,1.390923,29.904459,0.263213,0.003083,0.0
14,93457,-4,0.369,1.413360,29.428782,0.261224,0.003034,0.0
16,93457,-3,0.375,1.444556,28.724429,0.258259,0.002961,0.0
13,93457,-2,0.379,1.463752,28.260933,0.256295,0.002913,0.0
4,93457,-1,0.385,1.490211,27.574734,0.253367,0.002843,0.0
1,93457,0,0.389,1.506331,27.123263,0.251427,0.002796,0.0
5,93457,1,0.395,1.528296,26.454985,0.248536,0.002727,0.0
9,93457,2,0.399,1.541498,26.015380,0.246621,0.002682,0.0
6,93457,3,0.405,1.559203,25.364781,0.243767,0.002615,0.0
10,93457,4,0.409,1.569643,24.936881,0.241877,0.002571,0.0
2,93457,5,0.415,1.583317,24.303714,0.239061,0.002506,0.0
7,93457,6,0.419,1.591144,23.887353,0.237196,0.002463,0.0
12,93457,7,0.425,1.601010,23.271368,0.234417,0.002399,0.0
15,93457,8,0.429,1.606371,22.866376,0.232578,0.002357,1.0
32,111551,-8,0.289,3.847060,90.370137,0.355725,0.004833,0.0
24,111551,-7,0.295,3.863475,85.649200,0.340851,0.004580,1.0
27,111551,-6,0.299,3.843881,82.589801,0.331104,0.004417,0.0

In [12]:
df.head(18)

,codclavecic,escenario,tea,van_e,mto_e,tir,efec,flg_max_vane
0,93457,-8,0.349,1.287477,31.856545,0.271264,0.003284,0.0
8,93457,-7,0.355,1.328898,31.115202,0.268227,0.003208,0.0
11,93457,-6,0.359,1.354742,30.627195,0.266214,0.003157,0.0
3,93457,-5,0.365,1.390923,29.904459,0.263213,0.003083,0.0
14,93457,-4,0.369,1.413360,29.428782,0.261224,0.003034,0.0
16,93457,-3,0.375,1.444556,28.724429,0.258259,0.002961,0.0
13,93457,-2,0.379,1.463752,28.260933,0.256295,0.002913,0.0
4,93457,-1,0.385,1.490211,27.574734,0.253367,0.002843,0.0
1,93457,0,0.389,1.506331,27.123263,0.251427,0.002796,0.0
5,93457,1,0.395,1.528296,26.454985,0.248536,0.002727,0.0
9,93457,2,0.399,1.541498,26.015380,0.246621,0.002682,0.0
6,93457,3,0.405,1.559203,25.364781,0.243767,0.002615,0.0
10,93457,4,0.409,1.569643,24.936881,0.241877,0.002571,0.0
2,93457,5,0.415,1.583317,24.303714,0.239061,0.002506,0.0
7,93457,6,0.419,1.591144,23.887353,0.237196,0.002463,0.0
12,93457,7,0.425,1.601010,23.271368,0.234417,0.002399,0.0
15,93457,8,0.429,1.606371,22.866376,0.232578,0.002357,1.0
32,111551,-8,0.289,3.847060,90.370137,0.355725,0.004833,0.0

In [14]:
# Load DataFrame

#df = pd.read_csv( 'C:\Users\JHONATAN\Documents\BCP  practicas verano\CEF_ Credito_Efectivo_Personas\10000CEN_CEF_ADAPTACIONBase_para_probar_CENOPT.csv',sep=',')

# Lista de Clientes
clientes = set(df['codclavecic'])

# Número de samples que deseas generar
samples_num = 10

# Tamaño de las submuestras
sample_size = int(len(clientes)/samples_num)

# Lista de Dataframes
df_list = []
output_list = []
tiempo = []

porc = 1.05

print("Clientes totales del DataFrame:",len(df.codclavecic.unique()),"\n")

dfc = df.copy()
# generar las submuestras sin repetir elementos
for i in range(1,samples_num+1):
    if i<samples_num: 
        clientes_sample = random.sample(list(clientes), sample_size)
        print(clientes_sample)
        df_sample = df[df.codclavecic.isin(clientes_sample)]
        df_sample["sample_num"] = i 
        df = df.drop(df_sample.index)

        print("Clientes del DataFrame del grupo",i,":",len(df_sample.codclavecic.unique()))
        print("Clientes que quedan en el DataFrame:", len(df.codclavecic.unique()))
       
    
        df_list.append(df_sample)
        #set1.difference(set2)
        clientes = clientes - set(clientes_sample)

        start_time = datetime.now() 

        output_df = opt_port(df_sample,porc)
        output_list.append(output_df)
        
        time_elapsed = datetime.now() - start_time  
        tiempo.append(time_elapsed)
        print('Time elapsed (hh:mm:ss.ms) {time_elapsed}, grupo:{grupo}'.format(time_elapsed=time_elapsed, grupo=i),"\n")
        
    else:
        df_sample = df.copy()
        df_sample["sample_num"] = i    
        df_list.append(df_sample)
        
        print("Clientes del último sample:",len(df_sample.codclavecic.unique()))
        
        start_time = datetime.now() 
       
        output_df = opt_port(df_sample,porc)
        output_list.append(output_df)

        time_elapsed = datetime.now() - start_time  
        tiempo.append(time_elapsed)
        print('Time elapsed (hh:mm:ss.ms) {time_elapsed}, grupo:{grupo}'.format(time_elapsed=time_elapsed, grupo=i),"\n")
        
      
df_tot = pd.concat(df_list)   
df_tot_opt = pd.concat(output_list)

df = dfc.copy()

Clientes totales del DataFrame: 590

[3748596, 1560547, 4351231, 1404836, 4351026, 3260388, 2024008, 1542190, 3540494, 569907, 4310006, 1886649, 1602937, 2116473, 1477723, 2788556, 4333699, 3864339, 560937, 3041227, 1009771, 3876449, 1696588, 2589051, 1029110, 2331391, 2809864, 3743822, 1289328, 3976197, 4339231, 2044153, 1695007, 2566472, 3934049, 2244038, 3819368, 414820, 4488851, 3095474, 481130, 4321558, 2892698, 874092, 2569888, 1393204, 791090, 4012172, 2344353, 1456180, 1286861, 3395747, 171770, 2383844, 3717709, 1440324, 2869252, 4310742, 3506745]
Clientes del DataFrame del grupo 1 : 59
Clientes que quedan en el DataFrame: 531
Optimal
227.11230195843402
Time elapsed (hh:mm:ss.ms) 0:00:00.482868, grupo:1

[4451519, 4280655, 2283951, 499907, 1453120, 2779113, 1123832, 1601959, 556587, 2428798, 3615312, 3936188, 1354713, 1852227, 1993188, 1286782, 1383325, 3877986, 3123376, 4575755, 4472999, 1460718, 2613768, 571649, 1588358, 2638562, 2748925, 1917340, 1484888, 739233, 948839, 4349080, 721378, 1161648, 4320657, 4463151, 2725798, 2818188, 3194577, 4899388, 3364071, 245761, 522165, 3437225, 1084236, 1304870, 932778, 1547495, 3455515, 4302215, 2001424, 2892731, 4310695, 3245684, 2711249, 3071602, 550691, 1975053, 4861207]
Clientes del DataFrame del grupo 2 : 59
Clientes que quedan en el DataFrame: 472
Optimal
210.1554283228596
Time elapsed (hh:mm:ss.ms) 0:00:00.391284, grupo:2

[3454702, 1508700, 3958175, 1377290, 1385927, 2199796, 4572507, 415684, 3571448, 655065, 4502463, 3075432, 1181013, 2379034, 1214175, 2938130, 1925840, 3331411, 3037866, 2415546, 3517051, 4021820, 4016211, 3605573, 787310, 3461853, 2118672, 2303072, 463431, 1358734, 3222538, 2184330, 2031121, 2011768, 3151946, 1444288, 3256499, 3678233, 2431237, 3797854, 1372627, 2042849, 3384526, 4250708, 2061380, 3649116, 3452439, 744316, 2932077, 968970, 803547, 3745957, 4887634, 2399015, 984569, 1434364, 3952797, 1441898, 4014035]
Clientes del DataFrame del grupo 3 : 59
Clientes que quedan en el DataFrame: 413
Optimal
210.31506874511908
Time elapsed (hh:mm:ss.ms) 0:00:00.424718, grupo:3

[792653, 2629847, 2178086, 3321967, 3254032, 1921423, 3956875, 1877810, 978924, 3230561, 4635977, 2348690, 2234025, 1107516, 1195236, 3222773, 4016254, 4463274, 536861, 3810961, 4323195, 1132803, 1019170, 2058047, 3993078, 3770398, 1411173, 2944801, 429733, 3172043, 634962, 3838778, 3740580, 1608205, 1645876, 2876963, 2076789, 511947, 1546747, 3854834, 1672295, 574479, 3016763, 4173682, 1491477, 3053929, 3979129, 3573913, 1647480, 309493, 3229253, 2391081, 1581527, 3431745, 789025, 3101418, 1258509, 706882, 3042761]
Clientes del DataFrame del grupo 4 : 59
Clientes que quedan en el DataFrame: 354
Optimal
200.94803601891056
Time elapsed (hh:mm:ss.ms) 0:00:00.663257, grupo:4

[742685, 3770699, 93457, 3273916, 4255094, 1203751, 2698647, 3439660, 3674183, 431576, 1080740, 3384184, 607189, 1303173, 580105, 1542099, 1120012, 2773100, 4321955, 1844112, 1030665, 1535186, 547862, 2761573, 1539065, 2145142, 3944152, 2527400, 1501704, 1432598, 4487279, 2401409, 3293547, 1426862, 4139032, 4355822, 4344050, 3284620, 4329902, 1022351, 4302606, 192809, 4507219, 3548305, 3161642, 1445904, 1431335, 1167491, 2602183, 3365493, 2537614, 1413460, 3326297, 1102306, 423789, 3408326, 319347, 1464752, 3240089]
Clientes del DataFrame del grupo 5 : 59
Clientes que quedan en el DataFrame: 295
Optimal
216.49041257367955
Time elapsed (hh:mm:ss.ms) 0:00:00.453907, grupo:5

[1351464, 2534196, 2864344, 2800329, 4006377, 2541716, 553693, 1103111, 2285596, 3679700, 2854473, 2174563, 3436455, 3263044, 4330394, 2247384, 1448630, 2181730, 1765641, 620781, 768183, 4455536, 3659467, 2391597, 1961575, 3126553, 1137365, 2526138, 886164, 948727, 1604626, 3281580, 2492794, 602409, 842711, 1400613, 3192442, 2593619, 4475943, 4578709, 4347924, 4611866, 3275468, 4505983, 2816948, 2575252, 747328, 3532809, 2937210, 2919313, 290419, 1170136, 3793300, 2862299, 2580349, 917469, 2940993, 771401, 3460614]
Clientes del DataFrame del grupo 6 : 59
Clientes que quedan en el DataFrame: 236
Optimal
200.7903426463601
Time elapsed (hh:mm:ss.ms) 0:00:00.536630, grupo:6

[1887563, 3471252, 4263425, 1670540, 3477763, 4861761, 440761, 1943016, 3768943, 445463, 1522485, 3304644, 3027750, 889246, 1458903, 4619898, 506098, 1774435, 1271494, 3006557, 3481136, 3396793, 2842324, 970265, 4337401, 2417183, 3112082, 1160121, 1862732, 734216, 915000, 3334920, 2013994, 1403351, 1380303, 2410933, 1317956, 4291116, 591413, 1742639, 3287504, 3149227, 3963215, 3240991, 1646431, 2020907, 1334233, 1242718, 1386003, 3317328, 3323768, 3109217, 1420775, 783387, 3625218, 1244529, 4580601, 372877, 4358097]
Clientes del DataFrame del grupo 7 : 59
Clientes que quedan en el DataFrame: 177
Optimal
217.94382693912243
Time elapsed (hh:mm:ss.ms) 0:00:00.651568, grupo:7

[2515073, 519574, 2610478, 3314775, 882503, 2377427, 3431034, 3446526, 3469312, 2089792, 1760622, 2751396, 1765024, 1731013, 969311, 1059902, 863471, 3644090, 898261, 3610985, 457028, 1140580, 4028041, 1514393, 4601109, 2063151, 4570213, 1170251, 1064204, 425301, 1484151, 1674487, 1480910, 1276065, 3296935, 2285536, 1130317, 265458, 3277520, 2297998, 2717841, 3832240, 2632460, 649564, 3466491, 2708941, 422021, 4001231, 4330223, 434261, 1973819, 1577510, 3945272, 1705134, 2283897, 3279833, 1950927, 2357068, 3932916]
Clientes del DataFrame del grupo 8 : 59
Clientes que quedan en el DataFrame: 118
Optimal
214.63947254759273
Time elapsed (hh:mm:ss.ms) 0:00:00.528619, grupo:8

[2673995, 3975582, 774023, 1373588, 4202452, 2212319, 3878906, 603461, 514407, 2855313, 3489125, 1765888, 892629, 2250391, 4851903, 3307326, 4116915, 3521165, 917712, 606613, 4311636, 813355, 2391315, 2275785, 689036, 3597312, 244107, 511279, 3560958, 1063482, 187402, 1470217, 3460351, 3448212, 2116826, 687624, 4278546, 113459, 3530464, 4155463, 3471354, 3739520, 2249970, 111551, 173695, 3139317, 435608, 1120967, 1421293, 4876893, 1159906, 1430366, 3241165, 1527875, 2645031, 3836612, 4554654, 1989745, 2281355]
Clientes del DataFrame del grupo 9 : 59
Clientes que quedan en el DataFrame: 59
Optimal
235.8229331397667
Time elapsed (hh:mm:ss.ms) 0:00:00.363608, grupo:9

Clientes del último sample: 59
Optimal
232.323600497267
Time elapsed (hh:mm:ss.ms) 0:00:00.378919, grupo:10

In [164]:
df_tot.shape

(0, 7)

In [ ]:
df_tot_opt.to_csv(full_filename_output_5,index=False)

In [7]:
df_tot_opt = pd.read_csv(full_filename_output_5)

#Salida del WTP Individual Escenarios
df_wtp_esc = pd.read_csv(full_filename_input)

#Salida de la Optimización del Portafolio tomando los leads por grupo
df_opt_port_group = df_tot_opt[df_tot_opt.binario==1][['idc','escenario']].rename(columns={'idc':'codclavecic'})

#Se le pega la TEA Opt por grupo de acuerdo al escenario
df_tea_opt_port_by_group = pd.merge(df_opt_port_group, df_wtp_esc[['codclavecic','escenario','tea', 'cluster','tir']], on=['codclavecic','escenario'], how='left')

df_tea_opt_port_by_group.to_csv(full_filename_output_5_final, index=False)

In [8]:
df_tea_opt_port_by_group.shape

(18579, 5)

In [14]:
# Load DataFrame
df = pd.read_csv(full_filename_input)

# Lista de Clientes
clientes = set(df['codclavecic'])

# Número de samples que deseas generar
samples_num = 10

# Tamaño de las submuestras
sample_size = int(len(clientes)/samples_num)

# Lista de Dataframes
df_list = []
output_list = []

porc = 1.061

print("Clientes totales del DataFrame:",len(df.codclavecic.unique()),"\n")

# generar las submuestras sin repetir elementos
for i in range(1,samples_num+1):
    if i<samples_num:
        clientes_sample = random.sample(clientes, sample_size)
        df_sample = df[df.codclavecic.isin(clientes_sample)]
        df_sample["sample_num"] = i 
        df = df.drop(df_sample.index)

        print("Clientes del DataFrame del grupo",i,":",len(df_sample.codclavecic.unique()))
        print("Clientes que quedan en el DataFrame:", len(df.codclavecic.unique()))
       
    
        df_list.append(df_sample)
        clientes = clientes - set(clientes_sample)

        start_time = datetime.now() 

        output_df = opt_port(df_sample,porc)
        output_list.append(output_df)

        time_elapsed = datetime.now() - start_time  
        print('Time elapsed (hh:mm:ss.ms) {time_elapsed}, grupo:{grupo}'.format(time_elapsed=time_elapsed, grupo=i),"\n")
        
    else:
        df_sample = df.copy()
        df_sample["sample_num"] = i    
        df_list.append(df_sample)
        
        print("Clientes del último sample:",len(df_sample.codclavecic.unique()))
        
        start_time = datetime.now() 
       
        output_df = opt_port(df_sample,porc)
        output_list.append(output_df)

        time_elapsed = datetime.now() - start_time  
        print('Time elapsed (hh:mm:ss.ms) {time_elapsed}, grupo:{grupo}'.format(time_elapsed=time_elapsed, grupo=i),"\n")
        
      
df_tot_10 = pd.concat(df_list)   
df_tot_opt_10 = pd.concat(output_list)

Clientes totales del DataFrame: 18579

Clientes del DataFrame del grupo 1 : 1857
Clientes que quedan en el DataFrame: 16722
Optimal
137064.396979098
Time elapsed (hh:mm:ss.ms) 0:00:27.943870, grupo:1

Clientes del DataFrame del grupo 2 : 1857
Clientes que quedan en el DataFrame: 14865
Optimal
133502.8731850735
Time elapsed (hh:mm:ss.ms) 0:00:28.597663, grupo:2

Clientes del DataFrame del grupo 3 : 1857
Clientes que quedan en el DataFrame: 13008
Optimal
146382.3465535692
Time elapsed (hh:mm:ss.ms) 0:00:14.047463, grupo:3

Clientes del DataFrame del grupo 4 : 1857
Clientes que quedan en el DataFrame: 11151
Optimal
143269.92845842056
Time elapsed (hh:mm:ss.ms) 0:00:19.788370, grupo:4

Clientes del DataFrame del grupo 5 : 1857
Clientes que quedan en el DataFrame: 9294
Optimal
128798.93850335418
Time elapsed (hh:mm:ss.ms) 0:00:09.821486, grupo:5

Clientes del DataFrame del grupo 6 : 1857
Clientes que quedan en el DataFrame: 7437
Optimal
146767.73621654997
Time elapsed (hh:mm:ss.ms) 0:00:26.087441, grupo:6

Clientes del DataFrame del grupo 7 : 1857
Clientes que quedan en el DataFrame: 5580
Optimal
135371.9569290795
Time elapsed (hh:mm:ss.ms) 0:00:08.422558, grupo:7

Clientes del DataFrame del grupo 8 : 1857
Clientes que quedan en el DataFrame: 3723
Optimal
125935.21971351928
Time elapsed (hh:mm:ss.ms) 0:00:14.908116, grupo:8

Clientes del DataFrame del grupo 9 : 1857
Clientes que quedan en el DataFrame: 1866
Optimal
136204.64566202534
Time elapsed (hh:mm:ss.ms) 0:00:21.345157, grupo:9

Clientes del último sample: 1866
Optimal
144907.6917665175
Time elapsed (hh:mm:ss.ms) 0:00:16.824441, grupo:10

In [15]:
df_tot_opt_10.to_csv(full_filename_output_10,index=False)

In [16]:
df_tot_opt_10.shape

(259177, 4)

In [17]:
df_tot_opt_10 = pd.read_csv(full_filename_output_10)

#Salida del WTP Individual Escenarios
df_wtp_esc = pd.read_csv(full_filename_input)

#Salida de la Optimización del Portafolio tomando los leads por grupo
df_opt_port_group = df_tot_opt_10[df_tot_opt_10.binario==1][['idc','escenario']].rename(columns={'idc':'codclavecic'})

#Se le pega la TEA Opt por grupo de acuerdo al escenario
df_tea_opt_port_by_group = pd.merge(df_opt_port_group, df_wtp_esc[['codclavecic','escenario','tea', 'cluster','tir']], on=['codclavecic','escenario'], how='left')

df_tea_opt_port_by_group.to_csv(full_filename_output_10_final, index=False)

In [18]:
df_tea_opt_port_by_group.shape

(18579, 5)