** Pricing: Willingness to pay CEF

Tema : Optimizacion de Tasa
Fecha última modificación modelo: 27/02/2021
Fecha ultima de codificacion a python: 9/01/2024

In [4]:
import os
import time
import pandas as pd
import random

Definimos parametros para el modelo CEF

In [5]:

# Nombre del modelo
model = 'Pricing_WTP_CEF'
label = 'wtp_cef'
campana_aux = 'blaze' #INV o blaze
codmes = 202401
indicators_reported = ['VAN']
indicator_target = 'VAN'

Cargamos la carpeta de archivos parquet "CEF_ Credito_Efectivo_Personas/df_seg_opt_mx_efectividad_202401_blaze"

In [6]:

nombre_base_muestra = 'df_seg_opt_mx_efectividad_{}'.format(codmes)
df_seg_opt_mx_efectividad = pd.read_parquet('C:/Users/JHONATAN/Documents/BCP  practicas verano/CEF_ Credito_Efectivo_Personas/df_seg_opt_mx_efectividad_202401_blaze') #AGREGAR BLAZE

In [7]:
df_seg_opt_mx_efectividad.head(2)

,codmes,seg_wtp_cef,numscoreriesgo,codsubsegmento,codclavecic,llave,mtofinalofertadosol,RNG_PROB,NUM_SEN,iter,tasa_propuesta,prob_adj,prob,VAN,VAN_estimado,MTO_estimado,ec_efect_i,b0,b1,prob_adj_ef
0,202401,1,336,M1N,93457,93457-LD-CRE,9700.0000,2.[Baja],-2.57,-8,0.3490,0.271264,0.834083,392.023845,106.342050,2631.263118,0.012107,0.020706,-0.024639,0.003284
1,202401,1,336,M1N,93457,93457-LD-CRE,9700.0000,2.[Baja],-2.57,0,0.3890,0.251427,0.819364,538.704177,135.444833,2438.842939,0.011121,0.020706,-0.024639,0.002796

In [8]:
df_seg_opt_mx_efectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10836084 entries, 0 to 10836083
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   codmes               int32
 1   seg_wtp_cef          int32
 2   numscoreriesgo       int32
 3   codsubsegmento       object
 4   codclavecic          int32
 5   llave                object
 6   mtofinalofertadosol  object
 7   RNG_PROB             object
 8   NUM_SEN              float64
 9   iter                 object
 10  tasa_propuesta       object
 11  prob_adj             float64
 12  prob                 float64
 13  VAN                  float64
 14  VAN_estimado         float64
 15  MTO_estimado         float64
 16  ec_efect_i           float64
 17  b0                   float64
 18  b1                   float64
 19  prob_adj_ef          float64
dtypes: float64(10), int32(4), object(6)
memory usage: 1.5+ GB

Cambio tipologia de variables para habilitar operaciones aritmeticas y condiciones de filtro con pandas para opt_mx_efectividad

In [34]:
df_seg_opt_mx_efectividad.columns=df_seg_opt_mx_efectividad.columns.str.upper()


#**************************************************************************************
df_seg_opt_mx_efectividad['CODMES'] = df_seg_opt_mx_efectividad['CODMES'].astype('int32')
df_seg_opt_mx_efectividad['SEG_WTP_CEF'] = df_seg_opt_mx_efectividad['SEG_WTP_CEF'].astype('int32')
df_seg_opt_mx_efectividad['NUMSCORERIESGO'] = df_seg_opt_mx_efectividad['NUMSCORERIESGO'].astype('int32')
df_seg_opt_mx_efectividad['CODSUBSEGMENTO'] = df_seg_opt_mx_efectividad['CODSUBSEGMENTO'].astype('string')
df_seg_opt_mx_efectividad['CODCLAVECIC'] = df_seg_opt_mx_efectividad['CODCLAVECIC'].astype('int32')
df_seg_opt_mx_efectividad['LLAVE'] = df_seg_opt_mx_efectividad['LLAVE'].astype('string')
df_seg_opt_mx_efectividad['MTOFINALOFERTADOSOL'] = df_seg_opt_mx_efectividad['MTOFINALOFERTADOSOL'].astype('float64')
#***************************************
#Duda de que tipo de formato se emplea con RNG
#*********************************
df_seg_opt_mx_efectividad['RNG_PROB'] = df_seg_opt_mx_efectividad['RNG_PROB'].astype('object')
df_seg_opt_mx_efectividad['NUM_SEN'] = df_seg_opt_mx_efectividad['NUM_SEN'].astype('float64')
df_seg_opt_mx_efectividad['ITER'] = df_seg_opt_mx_efectividad['ITER'].astype('int32')
df_seg_opt_mx_efectividad['TASA_PROPUESTA'] = df_seg_opt_mx_efectividad['TASA_PROPUESTA'].astype('float64')
df_seg_opt_mx_efectividad['PROB_ADJ'] = df_seg_opt_mx_efectividad['PROB_ADJ'].astype('float64')
df_seg_opt_mx_efectividad['PROB'] = df_seg_opt_mx_efectividad['PROB'].astype('float64')
df_seg_opt_mx_efectividad['VAN'] = df_seg_opt_mx_efectividad['VAN'].astype('float64')
df_seg_opt_mx_efectividad['VAN_ESTIMADO'] = df_seg_opt_mx_efectividad['VAN_ESTIMADO'].astype('float64')
df_seg_opt_mx_efectividad['MTO_ESTIMADO'] = df_seg_opt_mx_efectividad['MTO_ESTIMADO'].astype('float64')
df_seg_opt_mx_efectividad['EC_EFECT_I'] = df_seg_opt_mx_efectividad['EC_EFECT_I'].astype('float64')
df_seg_opt_mx_efectividad['B0'] = df_seg_opt_mx_efectividad['B0'].astype('float64')
df_seg_opt_mx_efectividad['B1'] = df_seg_opt_mx_efectividad['B1'].astype('float64')
df_seg_opt_mx_efectividad['PROB_ADJ_EF'] = df_seg_opt_mx_efectividad['PROB_ADJ_EF'].astype('float64')

In [35]:
df_seg_opt_mx_efectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10836084 entries, 0 to 10836083
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   CODMES               int32
 1   SEG_WTP_CEF          int32
 2   NUMSCORERIESGO       int32
 3   CODSUBSEGMENTO       string
 4   CODCLAVECIC          int32
 5   LLAVE                string
 6   MTOFINALOFERTADOSOL  float64
 7   RNG_PROB             object
 8   NUM_SEN              float64
 9   ITER                 int32
 10  TASA_PROPUESTA       float64
 11  PROB_ADJ             float64
 12  PROB                 float64
 13  VAN                  float64
 14  VAN_ESTIMADO         float64
 15  MTO_ESTIMADO         float64
 16  EC_EFECT_I           float64
 17  B0                   float64
 18  B1                   float64
 19  PROB_ADJ_EF          float64
dtypes: float64(12), int32(5), object(1), string(2)
memory usage: 1.4+ GB

CAPS DE ITERACIONES

In [38]:
#Trabajamos con un nuevo nombre de dataframe df_seg_opt
#********************************************************
df_seg_opt= df_seg_opt_mx_efectividad

#Indicadores estimados

for ind in indicators_reported:
  df_seg_opt['{}_estimado'.format(ind)] = df_seg_opt[ind] * df_seg_opt['PROB_ADJ_EF']

# Para MTO ESTIMADO
df_seg_opt['MTO_ESTIMADO']=df_seg_opt['MTOFINALOFERTADOSOL']* df_seg_opt['PROB_ADJ_EF']

In [40]:
#visualizacion de tabla
pd.set_option('display.max_columns',None)
df_seg_opt.head(2)

,CODMES,SEG_WTP_CEF,NUMSCORERIESGO,CODSUBSEGMENTO,CODCLAVECIC,LLAVE,MTOFINALOFERTADOSOL,RNG_PROB,NUM_SEN,ITER,TASA_PROPUESTA,PROB_ADJ,PROB,VAN,VAN_ESTIMADO,MTO_ESTIMADO,EC_EFECT_I,B0,B1,PROB_ADJ_EF,VAN_estimado
0,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,-8,0.349,0.271264,0.834083,392.023845,106.342050,31.856545,0.012107,0.020706,-0.024639,0.003284,1.287477
1,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,0,0.389,0.251427,0.819364,538.704177,135.444833,27.123263,0.011121,0.020706,-0.024639,0.002796,1.506331

LIMITANDO LAS ITERACIONES

In [43]:

df_seg_opt_caps = df_seg_opt[(((df_seg_opt['SEG_WTP_CEF']==1)&(df_seg_opt['ITER']>=-8)&(df_seg_opt['ITER']<=8))|\
                                   ((df_seg_opt['SEG_WTP_CEF']==2)&(df_seg_opt['ITER']>=-7)&(df_seg_opt['ITER']<=7))|\
                                   ((df_seg_opt['SEG_WTP_CEF']==3)&(df_seg_opt['ITER']>=-6)&(df_seg_opt['ITER']<=6))|\
                                   ((df_seg_opt['SEG_WTP_CEF']==4)&(df_seg_opt['ITER']>=-5)&(df_seg_opt['ITER']<=5))|\
                                   ((df_seg_opt['SEG_WTP_CEF']==5)&(df_seg_opt['ITER']>=-4)&(df_seg_opt['ITER']<=4))|\
                                   ((df_seg_opt['SEG_WTP_CEF']==6)&(df_seg_opt['ITER']>=-3)&(df_seg_opt['ITER']<=3))|\
                                   ((df_seg_opt['SEG_WTP_CEF']==7)&(df_seg_opt['ITER']>=-2)&(df_seg_opt['ITER']<=2)) \
                                  )]

In [47]:
#Formato y Visualizacion de nuevo dataframe filtrado df_seg_opt_caps 
df_seg_opt_caps.columns=df_seg_opt_caps.columns.str.upper()
df_seg_opt_caps.head(2)

,CODMES,SEG_WTP_CEF,NUMSCORERIESGO,CODSUBSEGMENTO,CODCLAVECIC,LLAVE,MTOFINALOFERTADOSOL,RNG_PROB,NUM_SEN,ITER,TASA_PROPUESTA,PROB_ADJ,PROB,VAN,VAN_ESTIMADO,MTO_ESTIMADO,EC_EFECT_I,B0,B1,PROB_ADJ_EF,VAN_ESTIMADO
0,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,-8,0.349,0.271264,0.834083,392.023845,106.342050,31.856545,0.012107,0.020706,-0.024639,0.003284,1.287477
1,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,0,0.389,0.251427,0.819364,538.704177,135.444833,27.123263,0.011121,0.020706,-0.024639,0.002796,1.506331

Cargamos el dataset de Tasas de producto blaze

In [53]:
# EXTRAE LOS CODCLAVECIC Y FLG_SUBSEGMENTOS
#nombre_base_muestra = 'TasasProducto_{}',format(codmes)

df_subsegmento = pd.read_csv('C:/Users/JHONATAN/Documents/BCP  practicas verano/CEF_ Credito_Efectivo_Personas/TasasProducto_202401_blaze.csv',sep=",") # AGREGA BLAZE
df_subsegmento.head(2)

,CODCLAVECIC,CAMPANA,TasaPropuesta,LLAVE,FLG_SUBSEGMENTO_CONSUMO,DESEMBOLSO,PLAZO,SCORE,MTOMEJORINGRESOAJUSTADOSOL,FLG_INDICATOR_TARGET,INDICATOR_TARGET,TIPCAMPANA_ORI,TIPO_INICIATIVA
0,1000005,LD,0.329,1000005-LD-CRE,ARMANDO,17145,24,286.0,3204.0,LD-ARMANDO-ING_5000-SCR_325,0.1078,LD,NO_INICIATIVA
1,10000051,LD,0.209,10000051-LD-CRE,ARMANDO,63874,60,445.0,4742.0,LD-ARMANDO-ING_5000-SCR_450,0.0656,LD,INICIATIVA_BEX_ARMANDO

In [51]:

df_subsegmento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778385 entries, 0 to 778384
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CODCLAVECIC                 778385 non-null  int64
 1   CAMPANA                     778385 non-null  object
 2   TasaPropuesta               778385 non-null  float64
 3   LLAVE                       778385 non-null  object
 4   FLG_SUBSEGMENTO_CONSUMO     778385 non-null  object
 5   DESEMBOLSO                  778385 non-null  int64
 6   PLAZO                       778385 non-null  int64
 7   SCORE                       778385 non-null  float64
 8   MTOMEJORINGRESOAJUSTADOSOL  778385 non-null  float64
 9   FLG_INDICATOR_TARGET        778385 non-null  object
 10  INDICATOR_TARGET            778385 non-null  float64
 11  TIPCAMPANA_ORI              778385 non-null  object
 12  TIPO_INICIATIVA             778385 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 77.2+ MB

Cambio de tipologia de variables para las operaciones de union y aritmeticas

In [70]:
df_subsegmento['CODCLAVECIC'] = df_subsegmento['CODCLAVECIC'].astype('int64')
df_subsegmento['CAMPANA'] = df_subsegmento['CAMPANA'].astype('string')
df_subsegmento['TasaPropuesta'] = df_subsegmento['TasaPropuesta'].astype('float64')
df_subsegmento['LLAVE'] = df_subsegmento['LLAVE'].astype('string')
df_subsegmento['FLG_SUBSEGMENTO_CONSUMO'] = df_subsegmento['FLG_SUBSEGMENTO_CONSUMO'].astype('string')
df_subsegmento['DESEMBOLSO'] = df_subsegmento['DESEMBOLSO'].astype('int64')
df_subsegmento['PLAZO'] = df_subsegmento['PLAZO'].astype('int64')
df_subsegmento['SCORE'] = df_subsegmento['SCORE'].astype('float64')
df_subsegmento['MTOMEJORINGRESOAJUSTADOSOL'] = df_subsegmento['MTOMEJORINGRESOAJUSTADOSOL'].astype('float64')
df_subsegmento['FLG_INDICATOR_TARGET'] = df_subsegmento['FLG_INDICATOR_TARGET'].astype('string')
df_subsegmento['INDICATOR_TARGET'] = df_subsegmento['INDICATOR_TARGET'].astype('float64')
df_subsegmento['TIPCAMPANA_ORI'] = df_subsegmento['TIPCAMPANA_ORI'].astype('string')
df_subsegmento['TIPO_INICIATIVA'] = df_subsegmento['TIPO_INICIATIVA'].astype('string')

In [71]:
df_subsegmento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778385 entries, 0 to 778384
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CODCLAVECIC                 778385 non-null  int64
 1   CAMPANA                     778385 non-null  string
 2   TasaPropuesta               778385 non-null  float64
 3   LLAVE                       778385 non-null  string
 4   FLG_SUBSEGMENTO_CONSUMO     778385 non-null  string
 5   DESEMBOLSO                  778385 non-null  int64
 6   PLAZO                       778385 non-null  int64
 7   SCORE                       778385 non-null  float64
 8   MTOMEJORINGRESOAJUSTADOSOL  778385 non-null  float64
 9   FLG_INDICATOR_TARGET        778385 non-null  string
 10  INDICATOR_TARGET            778385 non-null  float64
 11  TIPCAMPANA_ORI              778385 non-null  string
 12  TIPO_INICIATIVA             778385 non-null  string
dtypes: float64(4), int64(3), string(6)
memory usage: 77.2 MB

In [76]:
df_seg_opt_caps=pd.merge(df_seg_opt_caps, df_subsegmento[['LLAVE', 'FLG_SUBSEGMENTO_CONSUMO']], on= 'LLAVE', how='left')

In [82]:
#Tamaño post union merge
df_seg_opt_caps.shape

(5627968, 22)

In [84]:
df_seg_opt_caps.head(2)

,CODMES,SEG_WTP_CEF,NUMSCORERIESGO,CODSUBSEGMENTO,CODCLAVECIC,LLAVE,MTOFINALOFERTADOSOL,RNG_PROB,NUM_SEN,ITER,TASA_PROPUESTA,PROB_ADJ,PROB,VAN,VAN_ESTIMADO,MTO_ESTIMADO,EC_EFECT_I,B0,B1,PROB_ADJ_EF,VAN_ESTIMADO,FLG_SUBSEGMENTO_CONSUMO
0,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,-8,0.349,0.271264,0.834083,392.023845,106.342050,31.856545,0.012107,0.020706,-0.024639,0.003284,1.287477,ARMANDO
1,202401,1,336,M1N,93457,93457-LD-CRE,9700.0,2.[Baja],-2.57,0,0.389,0.251427,0.819364,538.704177,135.444833,27.123263,0.011121,0.020706,-0.024639,0.002796,1.506331,ARMANDO

Definicion de las condiciones

In [79]:
cond1 = (df_seg_opt_caps['TASA_PROPUESTA'] < 0.145) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['ARMANDO','NO CLIENTE']))
cond2 = (df_seg_opt_caps['TASA_PROPUESTA'] < 0.195) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['BEATRIZ']))
cond3 = (df_seg_opt_caps['TASA_PROPUESTA'] < 0.235) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['CARLOS']))
cond4 = (df_seg_opt_caps['TASA_PROPUESTA'] < 0.135) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['BEX']))
cond5 = (df_seg_opt_caps['TASA_PROPUESTA'] < 0.125) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['ENALTA']))

cond7 = (df_seg_opt_caps['TASA_PROPUESTA'] > 0.959) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['ARMANDO', 'BEATRIZ', 'CARLOS', 'NO CLIENTE']))
cond8 = (df_seg_opt_caps['TASA_PROPUESTA'] > 0.429) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['BEX']))
cond9 = (df_seg_opt_caps['TASA_PROPUESTA'] > 0.199) & (df_seg_opt_caps['FLG_SUBSEGMENTO_CONSUMO'].isin(['ENALTA']))

In [80]:
#borrando los que no cumplen las condiciones
df_seg_opt_caps_f = df_seg_opt_caps[~(cond1 | cond2 | cond3 | cond4 | cond5 | cond7 | cond8 | cond9)]

# Guardar (no para python)
#nombre_base_muestra = '1f_dta_iter_opt_caps_{}'.format(campana_aux)
#df_seg_opt_caps_f.write.format('parquet').mode('overwrite').save(f"{path_hdfs_sandbox_data_root}/out/5_Optimizacion/{nombre_base_muestra}") #AGREGAR BLAZE

In [85]:
#nuevo tamaño filtrado por condiciones
df_seg_opt_caps_f.shape

(5616535, 22)

Datos agrupados a la Tasa Lead

In [89]:

df_res_opt=df_seg_opt[df_seg_opt['ITER']==0]

In [93]:
df_res_opt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 516004 entries, 1 to 10836078
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CODMES               516004 non-null  int32
 1   SEG_WTP_CEF          516004 non-null  int32
 2   NUMSCORERIESGO       516004 non-null  int32
 3   CODSUBSEGMENTO       516004 non-null  string
 4   CODCLAVECIC          516004 non-null  int32
 5   LLAVE                516004 non-null  string
 6   MTOFINALOFERTADOSOL  516004 non-null  float64
 7   RNG_PROB             516002 non-null  object
 8   NUM_SEN              516004 non-null  float64
 9   ITER                 516004 non-null  int32
 10  TASA_PROPUESTA       516004 non-null  float64
 11  PROB_ADJ             516004 non-null  float64
 12  PROB                 516004 non-null  float64
 13  VAN                  516004 non-null  float64
 14  VAN_ESTIMADO         516004 non-null  float64
 15  MTO_ESTIMADO         516004 non-null  float64
 16  EC_EFECT_I           516004 non-null  float64
 17  B0                   516004 non-null  float64
 18  B1                   516004 non-null  float64
 19  PROB_ADJ_EF          516004 non-null  float64
 20  VAN_estimado         516004 non-null  float64
dtypes: float64(13), int32(5), object(1), string(2)
memory usage: 76.8+ MB

In [94]:
#df_res_opt=pd.Dataframe...... (pero se borra toda la base)

df_res_opt_agrega=pd.DataFrame({'clientes':[df_res_opt.shape[0]],
                 'oferta': [df_res_opt['MTOFINALOFERTADOSOL'].sum()],
                 'prob': [df_res_opt['PROB_ADJ_EF'].mean()],
                 'tasa_cli': [df_res_opt['TASA_PROPUESTA'].mean()],
                 'tasa_pnd': [(df_res_opt['TASA_PROPUESTA'] * df_res_opt['MTOFINALOFERTADOSOL']).sum() / df_res_opt['MTOFINALOFERTADOSOL'].sum()],
                 'mto_estimado': [df_res_opt['MTO_ESTIMADO'].sum()], 
                 'van_estimado': [df_res_opt['VAN_ESTIMADO'].fillna(0).sum()] # Sumar 'van_estimado' llenando NaN con 0
                 
                 
                 
                 })

print(df_res_opt_agrega)

   clientes        oferta      prob  tasa_cli  tasa_pnd  mto_estimado  \
0    516004  3.110441e+10  0.007284  0.287452  0.232649  3.344185e+08

   van_estimado
0  3.766750e+08